################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.svn
/.vs
/.vs
/Jw.ApiMonitor.Core/obj/Debug
/Jw.ApiMonitor.WebTest/logs/201706
/Jw.ApiMonitor.WebTest/obj/Debug
/packages
