<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogFile="${basedir}/logs/nlog.log">
  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->

  <!-- 输出格式 -->
  <variable name="ErrMsg" value="${time} [${level}] - ${message} ${exception:format=ToString} ${stacktrace}${newline}"/>
  <variable name="BasicLayout" value="${time} [${level}] [${threadid}] - ${message} ${onexception:inner=${ErrMsg}}${newline}"/>
  <variable name="ReportLayout" value="Jw.ApiMonitor##${threadid}##${exception}##${message}##${exception:format=StackTrace}"/>

  <targets>

    <target name="DefaultLog" xsi:type="AsyncWrapper">
      <target xsi:type="RetryingWrapper">
        <target xsi:type="File" archiveAboveSize="10240000" fileName="${basedir}/logs/${date:format=yyyyMM}/${shortdate}.log" layout="${BasicLayout}" />
      </target>
    </target>

    <target name="DALLog" xsi:type="AsyncWrapper">
      <target xsi:type="RetryingWrapper">
        <target xsi:type="File" archiveAboveSize="10240000" fileName="${basedir}/logs/${date:format=yyyyMM}/${shortdate}_DAL.log" layout="${BasicLayout}" />
      </target>
    </target>

    <target name="BuildLog" xsi:type="AsyncWrapper">
      <target xsi:type="RetryingWrapper">
        <target xsi:type="File" archiveAboveSize="10240000" fileName="${basedir}/logs/${date:format=yyyyMM}/${shortdate}_Build.log" layout="${BasicLayout}" />
      </target>
    </target>

    <target name="ErrorLog" xsi:type="AsyncWrapper">
      <target xsi:type="RetryingWrapper">
        <target xsi:type="File" archiveAboveSize="10240000" fileName="${basedir}/logs/${date:format=yyyyMM}/${shortdate}_Error.log" layout="${ErrMsg}" />
      </target>
    </target>

    <target name="ErrorLogSVC" xsi:type="AsyncWrapper">
      <target xsi:type="LogReceiverService"  endpointAddress="" clientId="Layout">
        <parameter layout="${ReportLayout}" name="Layout" type="System.Type"/>
      </target>
    </target>

  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="ErrorLog" />
    <logger name="DefaultLog" minlevel="Trace" writeTo="DefaultLog" />
    <logger name="BuildLog" minlevel="Trace" writeTo="BuildLog" />
    <logger name="DAL" minlevel="Trace" writeTo="DALLog" />
    <logger name="*" minlevel="Error" writeTo="ErrorLogSVC" />
  </rules>
</nlog>